*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.preload{
    top: 0;
    width: 100%;
    height: 100vh;
    background:#448029;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    flex-wrap: wrap;
    position: relative;
}




.animation{
    height: 200px;
    margin-bottom: 14px;
    animation: animation 1s ease infinite alternate;
}


.preload-finish{
    pointer-events: none;
    animation: mover 1s alternate;
    animation-fill-mode: forwards;
}


@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}


.bar {
    border: 1.3px solid black;
    height: 20px;
    width: 30%;
    position: absolute;
    bottom: 30%;
    border-radius: 10px;
}
    
.bar .in {
      animation: fill 1.1s linear 1;
      height: 100%;
      background-color:wheat;
      border-radius: 10px;

    }
  
  @keyframes fill {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }


